.navigation {
    margin-left: 117.26px;
    margin-right: 117.26px;
}

.nav-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
}

.logo-text {
    font-family: Poppins;
    font-weight: 600;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
} 

.nav-button{
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: var(--button);
    width: 118px;
    height: 48px;
    border: none;
    border-radius: 8px;
    color: #FFFFFF;
}

.header-main-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
    width: 500px;
    height: 140px;
}

.header-img-mini {
    height: 58px;
    width: 58px;
    cursor: pointer;
}

.header-nextmain-text {
    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    cursor: default;
    width: 400px;
}

.header-main-content {
    flex-direction: column;
    margin-left: 108px;
    align-self: flex-end;
}

.header-menu {
    display: flex;
}

.nav-menu {
    list-style: none;
    display: grid;
    grid-template-columns: repeat(2, 1fr) repeat(2, 0.5fr) 0.1fr repeat(2, 0.5fr) 1fr 0.7fr;
    grid-template-rows: 0.3fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    max-width: 1214.7435302734375px;
    
}

.nav-text:hover {
    transition: transform 0.3s ease-out, color 0.3s ease-out;
    color: var(--text-pressed);
}

.nav-menu :nth-child(1) {
  margin-top: 14px;
  cursor: default;
}

.nav-menu :nth-child(2) {
  margin-right: 300px;
  margin-top: 13px;
  margin-left: 10px;
  cursor: default;
}

.nav-menu :nth-child(3) {
  margin-right: 70px;
  margin-top: 13px;
}

.nav-menu :nth-child(4) {
  margin-right: 10px;
  margin-top: 13px;
}

.nav-menu :nth-child(5) {
  margin-right: 70px;
  margin-top: 13px;
}

.nav-menu :nth-child(6) {
  margin-right: 70px;
  margin-top: 13px;
}

.nav-menu :nth-child(7) {
  margin-right: 200px;
  margin-top: 13px;
}

.nav-menu :nth-child(8) {
  margin-right: 70px;
  margin-top: 13px;
}

.nav-menu :nth-child(9) {
  margin-right: 70px;
  margin-top: 0px;
}

.nav-button:hover {
    transition: transform 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out;
    background-color: var(--button-pressed);
    color: var(--text-pressed);
    cursor: pointer;
}

.placeholder-text {
    width: 410px;
    height: 58px;
    background-color: var(--search-bg);
    border: none;
    outline: none;
}

.header-search {
    display: flex;
    align-items: center;
    height: 64px;
    width: 497px;
    background-color: var(--search-bg);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 15px;
}

.header-search-img {
    height: 24px;
    width: 24.08026695251465px;
}

.header-search-button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    height: 48px;
    width: 130.43478393554688px;
    border-radius: 8px;
    background-color: var(--button);
    border: none;
}

.header-search-button:hover {
    transition: transform 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out;
    background-color: var(--button-pressed);
    color: var(--text-pressed);
    cursor: pointer;
}

.header-content {
    height: 700px;
}

.header-main-img {
    margin-left: 450px;
}