.main-content {
    margin-bottom: 0px;
}

.main-head-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFFE5;
}

.main-head-help-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF8C;
}

li {
    list-style: none;
}

.main-plases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 108px;
    margin-top: 50px;
    margin-right: 70px;
}

.main-plase-part {
    width: 392px;
    height: 294px;
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    padding: 20px;
}

.main-plase-part:hover {
    transform: translateY(-15px) scale(1.08); 
    background-color: rgb(66, 66, 66); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25)
}

.main-plase-part:hover .plases-button {
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    background-color: var(--button);
}

.main-plase-part-one {
    display: flex;
    gap: 40px;
    margin-top: 20px;
}

.main-plase-part-one-helpful {
    display: flex;
    flex-direction: column;
}

.main-plase-part-two {
    display: flex;
    height: 120px;
    gap: 10px;
}

.plases-logo {
    width: 64px;
    height: 64px;
}

.plases-company {

    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFC7;
}

.plases-paiment {

    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFA5378C;
    align-items: flex-end;
}

.plases-lorem {

    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    width: 326px;
}

.plases-like {
    width: 42px;
    height: 42px;
    align-self: flex-end;
    margin-bottom: 18px;
    cursor: pointer;
}

.plases-folder {
    width: 42px;
    height: 42px;
    align-self: flex-end;
    margin-bottom: 18px;
    cursor: pointer;
}

.plases-button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    margin-left: 140px;
    align-self: flex-end;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
}

.plases-button:hover {
    color: var(--text-pressed);
    cursor: pointer;
}

.load-button-selector {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.load-button {
    text-align: center;
    border: 10px;
    border-color: #fffffff6;
    border-radius: 8px;
    color: var(--button);
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: #ffffff13;
    padding: 25px;
    padding-left: 50px;
    padding-right: 50px;
    margin-bottom: 200px;
    margin-top: 150px;
}

a {
    text-decoration: none;
}

.brand {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
}

.brand :nth-child(1) {
    width: 193px;
    height: 42px;
    margin-top: 10px;
}

.brand :nth-child(2) {
    width: 157px;
    height: 51px;
    margin-top: 10px;
}

.brand :nth-child(3) {
    width: 194px;
    height: 49px;
    margin-top: 10px;
}

.brand :nth-child(4) {
    width: 194px;
    height: 44px;
    margin-top: 10px;
}

.brand-main-text {
    display: flex;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFCC;
    justify-content: center;
    align-self: center;
}

.brand-section {
    margin-left: 230px;
    background-color: #FFFFFF0D;
    width: 1224px;
    height: 203px;
    border-radius: 25px;
    padding-top: 40px;
    padding-bottom: 200px;
}

.main-plase-parts-two{
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    width: 288px;
    height: 284px;   
    padding: 20px;
}

.main-plase-parts-two:hover {
    transform: translateY(-15px) scale(1.08); 
    background-color: rgb(66, 66, 66); 
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.25)
}

.main-plase-parts-two:hover .plases-buttons {
    transition: transform 0.5s ease-out, background-color 0.5s ease-out, box-shadow 0.5s ease-out;
    background-color: var(--button);
}

.plases-buttons {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    margin-left: 40px;
    align-self: flex-end;
    padding: 15px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 8px;
}

.plases-buttons:hover {
    color: var(--text-pressed);
    cursor: pointer;
}

.tools-selector-one {
    display: flex;
    flex-direction: column;
    margin-left: 200px;
    margin-top: 200px;
    row-gap: 30px;
    width: 427px;
}

.tools-selector-two {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.tools-selector-thre {
    display: flex;
    justify-content: flex-end;
    margin-right: 200px;
}

.tools-main-text {
    font-family: Poppins;
    font-weight: 500;
    ont-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
}

.tools-nextmain-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    width: 427px;
}

.tools-main-button {
    width: 198px;
    height: 58px;
    border-radius: 8px;
    background-color: var(--button);
    border-style: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.tools-main-button:hover {
    transition: transform 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out;
    background-color: var(--button-pressed);
    color: var(--text-pressed);
    cursor: pointer;
}

.testimonial {
    display: flex;
}

.chevron-left {
    width: 48px;
    height: 48px;
    align-self: center;
    justify-content: center;
    margin-left: 108px;
}

.chevron-right {
    width: 48px;
    height: 48px;
    align-self: center;
    justify-content: center;
    margin-left: 250px;
}

.rectangles {
    width: 168px;
    height: 8px;
    margin-left: 800px;
    justify-content: center;
}

.testimonial-text {
    font-family: Roboto;
    font-weight: 400;
    font-size: 14px;
    line-height: 30px;
    letter-spacing: 1.5%;
    width: 393px;
    height: 180px;
    align-self: center;
    justify-content: center;
    margin-left: 50px;
    color: #FFFFFFC7;
}

.testimonial-img {
    margin-left: 300px;
    margin-bottom: 100px;
}

.join {
    margin-top: 250px;
}

.join-button {
    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
    height: 48px;
    width: 130.43478393554688px;
    border-radius: 8px;
    background-color: var(--button);
    border: none;
}

.join-button:hover {
    transition: transform 0.3s ease-out, background-color 0.3s ease-out, box-shadow 0.3s ease-out, color 0.3s ease-out;
    background-color: var(--button-pressed);
    color: var(--text-pressed);
    cursor: pointer;
}

.join-search {
    display: flex;
    align-items: center;
    height: 64px;
    width: 549px;
    background-color: var(--search-bg);
    border-radius: 15px;
    padding-left: 10px;
    padding-right: 15px;
    margin-left: 540px;
    margin-top: 100px;
}

.join-main-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFFE5;
}

.join-nextmain-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF8C;
    width: 427px;
    margin-left: 610px;
}