.main-content {
}

.main-head-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFFE5;
}

.main-head-help-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    text-align: center;
    color: #FFFFFF8C;
}

li {
    list-style: none;
}

.main-plases {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    margin-left: 108px;
}

.main-plase-part {

}

.plases-logo {
}

.plases-company {

    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFC7;
}

.plases-paiment {

    font-family: Poppins;
    font-weight: 400;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFA5378C;
}

.plases-lorem {

    font-family: Poppins;
    font-weight: 400;
    font-size: 16px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
}

.plases-like {

}

.plases-folder {

}

.plases-button {

    font-family: Poppins;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF8C;
    width: 50px;
}

.load-button {
    text-align: center;
    width: 204px;
    height: 64px;
    border: 10px;
    border-color: #FFFFFF1A;
    border-radius: 8px;
    color: var(--button);
    font-family: Poppins;
    font-weight: 500;
    font-size: 20px;
    line-height: 100%;
    letter-spacing: 0%;
    background-color: var(--bg);
    padding-top: 40px;
}

a {
    text-decoration: none;
}

.main-plases :nth-child(1) {
    grid-area: 1 / 1 / 2 / 2;
}

.main-plases :nth-child(2) {
    grid-area: 1 / 2 / 2 / 3;
}

.main-plases :nth-child(3) {
    grid-area: 1 / 3 / 2 / 4;
}

.main-plases :nth-child(4) {
    grid-area: 2 / 1 / 3 / 2;
}

.main-plases :nth-child(5) {
    grid-area: 2 / 2 / 3 / 3;
}

.main-plases :nth-child(6) {
    grid-area: 2 / 3 / 3 / 4;
}

.main-plases :nth-child(7) {
    grid-area: 3 / 2 / 4 / 3;
}

.brand {
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 20px;
}

.brand :nth-child(1) {
    width: 193px;
    height: 42px;
    margin-top: 10px;
}

.brand :nth-child(2) {
    width: 157px;
    height: 51px;
    margin-top: 10px;
}

.brand :nth-child(3) {
    width: 194px;
    height: 49px;
    margin-top: 10px;
}

.brand :nth-child(4) {
    width: 194px;
    height: 44px;
    margin-top: 10px;
}

.brand-main-text {
    display: flex;
    font-family: Poppins;
    font-weight: 500;
    font-size: 24px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFFCC;
    justify-content: center;
    align-self: center;
}

.brand-section {
    margin-left: 230px;
    background-color: #FFFFFF0D;
    width: 1224px;
    height: 203px;
    border-radius: 25px;
    padding-top: 70px;
}

.tools-main-text {
    font-family: Poppins;
    font-weight: 500;
    ont-size: 48px;
    line-height: 130%;
    letter-spacing: 0%;
    color: #FFFFFFE5;
}

.tools-nextmain-text {
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 30px;
    letter-spacing: 0%;
    color: #FFFFFF8C;
}

.tools-main-button {
    width: 198px;
    height: 58px;
    border-radius: 8px;
    background-color: var(--button);
    border-style: none;
    font-family: Poppins;
    font-weight: 500;
    font-size: 18px;
    line-height: 100%;
    letter-spacing: 0%;
    color: #FFFFFF;
}

.tools-main-button:hover {
    background-color: var(--button-pressed);
    color: var(--text-pressed);
    cursor: pointer;
}

.testimonial {
    display: flex;
}

.chevron-left {
    width: 80px;
    height: 100px;
    align-self: center;
}

.chevron-right {
    width: 80px;
    height: 100px;
    align-self: center;
}

.rectangles {
    width: 168px;
    height: 8px;
    margin-left: 800px;
}
